PDNS_AUTH_API_KEY=change_me_auth_api_key
PDNS_RECURSOR_API_KEY=change_me_recursor_api_key
PDNS_DB_ROOT_PASSWORD=change_me_root_db_password
PDNS_DB_PASSWORD=change_me_pdns_db_password
PDNS_DB_PORT=3306
POWERADMIN_PORT=9191
POWERADMIN_ADMIN_USER=admin
POWERADMIN_ADMIN_PASSWORD=change_me_poweradmin_password
