# Docker 2 host
UNIFI_BIND_IP=10.20.60.17
UNIFI_HTTPS_PORT=8443

# Container identity
PUID=1000
PGID=1000
TZ=America/New_York

# UniFi JVM sizing in MB
UNIFI_MEM_STARTUP=1024
UNIFI_MEM_LIMIT=2048

# MongoDB
MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=CHANGE_ME_GENERATE_WITH_OPENSSL
MONGO_USER=unifi
MONGO_PASS=CHANGE_ME_GENERATE_WITH_OPENSSL
MONGO_DBNAME=unifi
MONGO_AUTHSOURCE=admin
